<div class="fnavbar">
    <nav>
        <ul>
            <a href="https://nicoleechevarria.github.io/">Github</a>
            <a href="https://github.com/nicoleechevarria/nicoleechevarria.github.io/tree/main/itis3135">Github Repository</a>
            <a href="https://webpages.charlotte.edu/nechevar/">UNCC Webpage</a>
            <a href="https://www.freecodecamp.org/Nicoledechevarria">FreeCodeCamp</a>
            <a href="https://www.codecademy.com/profiles/nicoled.echevarria">CodeAcademy</a>
            <a href="https://www.linkedin.com/in/nicole-echevarria-79ab6622a/">LinkedIn</a>
        </ul>
    </nav>
</div>